.place__title {
    width: calc(50% - 20px);
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.06;
    text-align: left;
    color: #FFF;
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 1279px) {
    .place__title {
        width: calc(50% - 16px);
    }
}



@media screen and (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 1.1;
        width: calc(50% - 14px);
    }
}



@media screen and (max-width: 767px) {
    .place__title {
        font-size: 32px;
        line-height: 1.09;
        padding-bottom: 32px;
        width: 100%;
    }
}