.page {
    background-color: #2A2C2F;
    padding: 28px 48px 24px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}


@media screen and (max-width: 1023px) {
    .page {
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .page {
        padding-right: 16px;
        padding-left: 16px;
    }
}