.intro {
    margin: 0 0 92px 100px;
}


@media screen and (max-width: 1279px) {
    .intro {
        margin-right: 0;
        margin-left: 0;
    }
}


@media screen and (max-width: 1023px) {
    .intro {
        margin-bottom: 88px;
    }
}


@media screen and (max-width: 767px) {
    .intro {
        margin-bottom: 64px;
    }
}
