.lead__subtitle {
    max-width: 590px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 64px;
    padding-right: 172px;
    padding-left: 172px;
    margin: 0 auto;
}


@media screen and (max-width: 1279px) {
    .lead__subtitle {
        padding-right: 144px;
        padding-left: 144px;
        padding-bottom: 56px;
    }
}


@media screen and (max-width: 1023px) {
    .lead__subtitle {
        padding-right: 40px;
        padding-left: 40px;
    }
} 


@media screen and (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 1.25;
        max-width: 288px;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 40px;
    }
} 