.place__website {
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: end;
}


@media screen and (max-width: 1279px) {
    .place__website {
        width: calc(50% - 16px);
    }
}


@media screen and (max-width: 1023px) {
    .place__website {
        width: calc(50% - 14px);
    }
}


@media screen and (max-width: 767px) {
    .place__website {
        width: 100%;
        padding-bottom: 32px;
    }
}